@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.font-primary {
  color: v.$font-primary;
}

.custom-button {
  background-color: v.$primary-color;
  color: v.$white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.hover-option {
  color: v.$hover-option;
}
a#nav-dropdown-light-example {
  color: v.$white !important;
}

::selection {
  background: v.$primary-color;
  color: v.$white;
}

::-moz-selection {
  background: v.$primary-color;
  color: v.$white;
}

.section {
  padding-top: 30px;
  margin-top: 120px;
}

.section-heading {
  margin-bottom: 60px;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 43px;
}

.section-heading h2 em {
  color: v.$primary-color;
  font-style: normal;
}

.section-heading h6 {
  color: v.$primary-color;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.main-button a {
  display: inline-block;
  background-color: v.$white;
  color: v.$primary-color;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 25px;
  border-radius: 20px;
  transition: all 0.3s;
}

.main-button a:hover {
  background-color: v.$primary-color;
  color: v.$white;
}

.cursor-pointer {
  cursor: pointer;
}
.wrapper {
  margin-top: 80px;
  min-height: 80vh;
  padding: 25px;
}
.text-primary-color {
  color: v.$primary-color;
}
.text-primary {
  color: v.$primary-color !important;
}
.text-third-color {
  color: v.$third-color;
}

.logo_modal_course {
  width: 100%;
}

/* link hover */
.menu-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.menu-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s;
}

.menu-link:hover::before {
  color: v.$primary-color;
  background-color: v.$primary-color;
}
