@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
//colors
$primary-color: #6770B5;
$secondary-color: #C4BEDF;
$accent-color: #3B647C;
$success-color: #8EB031;
$warning-color: #F7C359;
$asda: #c7c5f4;
$asd: #7c78b8;
$aasd: #776bcc;

$background-linear: linear-gradient(45deg, #cfcef3, #8479d8);
$background-linear2: linear-gradient(90deg, #5d54a4, #7c78b8);

//whatsapp
$green: #25d366;
$boxShadowOpacity: #0000004d;
$greenHover: #128c7e;

$white: #fff;
$black: #000;

//sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$Poppins: "Poppins", sans-serif;

// colors
$light: #fff;
$primary: #9ed0f2;
$bg: #f4f4ff;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 80px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
  @if $point == mdx {
    @media (max-width: 48em) {
      @content;
    }
  }
}
