@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
//colors
$primary-color: #7b00e9;
$secondary-color: #13114C;
$third-color: #9d022a;
$accent-color: #3b647c;
$success-color: #7b00e9;
$warning-color: #f7c359;
$hover-color: #7b6ee0;
$card-bg: #f4f4ff;

//fonts
$font-family: "Poppins", sans-serif;
$font-primary: #4a4a4a;
$hover-option: #7b6ee0;
//shadows
$boxshadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
$boxshadow_purple: 0px 6px 59px rgba(8, 8, 20, 0.11);

//backgrounds
$background-linear: linear-gradient(45deg, #cfcef3, #7b00e9);
$background-linear2: linear-gradient(90deg, #7b00e9, #7c78b8);

//whatsapp
$green: #25d366;
$boxShadowOpacity: #0000004d;
$greenHover: #128c7e;

$light: #ddd;
$white: #fff;
$black: #000;
$dark-color: #111;

//sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$Poppins: "Poppins", sans-serif;

// colors
$light: #fff;
$bg: #f4f4ff;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// banner height
$topContactHeight: 58px;

// header height
$headerHeight: 114px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
  @if $point == md-custom {
    @media (min-width: 1300px) {
      @content;
    }
  }
  @if $point == mdx {
    @media (max-width: 48em) {
      @content;
    }
  }
}
