@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
//colors
$primary-color: #8bc53f;
$secondary-color: #c9fa89;
$third-color: #9d022a;
$accent-color: #3b647c;
$success-color: #8eb031;
$warning-color: #f7c359;
$hover-color: #7b6ee0;
$card-bg: #f4f4ff;

//fonts
$font-family: "Poppins", sans-serif;
$font-primary: #4a4a4a;

//shadows
$boxshadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

//backgrounds
$background-linear: linear-gradient(45deg, #cfcef3, #8479d8);
$background-linear2: linear-gradient(90deg, #5d54a4, #7c78b8);

//whatsapp
$green: #25d366;
$boxShadowOpacity: #0000004d;
$greenHover: #128c7e;

$light: #ddd;
$white: #fff;
$black: #000;

//sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$Poppins: "Poppins", sans-serif;

// colors
$light: #fff;
$bg: #f4f4ff;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 80px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
  @if $point == md-custom {
    @media (min-width: 1300px) {
      @content;
    }
  }
  @if $point == mdx {
    @media (max-width: 48em) {
      @content;
    }
  }
}
