@use "../global/variables" as v;

footer {
  margin-top: 150px;
  position: relative;
  background-color: v.$secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  border-radius: 150px 150px 0px 0px;
}

footer p {
  text-align: center;
  color: v.$white;
  font-weight: 400;
}

footer p a {
  color: v.$white;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

footer p a:hover {
  opacity: 0.75;
}

footer::before {
  background: url("/assets/images/contact-dec-01.png");
  position: absolute;
  left: 30px;
  transform: rotate(180deg);
  opacity: 1;
  bottom: 0;
  width: 318px;
  height: 119px;
  content: "";
  z-index: 2;
}
