.shopping-cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.shopping-cart-icon {
  font-size: 30px;
  margin-right: -13px;
}

.item-count-circle {
  width: 22px;
  height: 22px;
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -13px;
}
